.form-group {
    display: inline-flex;
}

#city-search {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#image-results {
    margin: auto;
    width: 80%;
    border: 3px solid green;
    padding: 10px;
    display: block;
}

/* TODO: Images not centred yet */
#flickr {
    display: inline-block;
} 


input[type=checkbox] {
    width:30px; 
    height:30px;
}

.imgresult {
    padding: 20px;
}
