/* <!--------------------------------------------------------------->
<--Homepage/ Landing Page Animation -->
<!---------------------------------------------------------------> */
.cd-intro-content h1,
.cd-intro-content p,
.cd-intro-content .cd-btn {
opacity: 0;
animation-delay: 0.3s;
animation-fill-mode: forwards;
}

.bouncy.cd-intro-content h1 {
animation-name: cd-bounce-right;
}

.bouncy.cd-intro-content h2 {
animation-name: cd-bounce-left;
}

.bouncy.cd-intro-content h1,
.bouncy.cd-intro-content h2 {
animation-duration: 0.6s;
}

.bouncy.cd-intro-content .cd-btn {
animation-name: cd-bounce-rotate;
animation-duration: 0.5s;
}

.bouncy.cd-intro-content .cd-btn.main-action {
animation-delay: 0.4s;
}

@keyframes cd-bounce-right {
0% {
opacity: .2;
transform: translateX(-200px);
}
60% {
opacity: .7;
transform: translateX(15px);
}
100% {
opacity: 1;
transform: translateX(0);
}
}

@keyframes cd-bounce-left {
0% {
opacity: .2;
transform: translateX(200px);
}
60% {
opacity: .7;
transform: translateX(-15px);
}
100% {
opacity: 1;
transform: translateX(0);
}
}

@keyframes cd-bounce-rotate {
0% {
opacity: .2;
transform: perspective(800px) rotateX(-80deg);
}
20% {
opacity: 1;
}
60% {
transform: perspective(800px) rotateX(20deg);
}
100% {
opacity: 1;
transform: perspective(800px) rotateX(0);
}
}
/* <!--------------------------------------------------------------->
<--Navbar -->
<!---------------------------------------------------------------> */
nav a{
    font-size: 1.8rem !important;
    }


button:focus {
    outline: 0;
}

.container button {
    font-size: 14pt;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar-inner {
    background:transparent;
}


/* <!--------------------------------------------------------------->
<--Revised Header -->
<!---------------------------------------------------------------> */
.mb-1 {
    font-size: 5rem;
 }
 h1 {
   font-size: 1.2rem;
 }
 h2 {
   font-size: 1.1rem;
 }
 
 @media (min-width: 300px) {
    .mb-1 {
     font-size: 3rem;
   }
   h1 {
       font-size: 1.3rem;
   }
   h2 {
       font-size: 1.2rem;
   }
 }
 
 @media (min-width: 800px) {
    .mb-1 {
     font-size: 6rem;
   }
   h1 {
       font-size: 1.5rem;
   }
   h2 {
       font-size: 1.4rem;
   }
 }
 
 @media (min-width: 1200px) {
    .mb-1 {
     font-size: 8rem;
   }
   h1 {
       font-size: 1.7rem;
   }
   h2 {
       font-size: 1.6rem;
   }
 }


/* Default height for small devices */
#intro {
width: 100%;
background-size: cover;
height: 90vh;
background-repeat: no-repeat;
}

#intro button {
    font-size: 18pt;
    width: 150px;
    margin: 30px;
}

header {
    background-size: cover;
}

/* <!--------------------------------------------------------------->
<--Top Header -->
<!---------------------------------------------------------------> */
.header-stuff {
    position: relative;
    text-align: center;
    color: white;
}
/* 
.header-stuff {
    display:inline-block;
    position:relative;
} */

.header-stuff button {
    position: absolute;
    bottom:16em;
    right:18em;
    background-color: #301934;
    border-radius:0.5em;
    color:white;
    width: 250px;
}

.header-stuff #register {
    position: absolute;
    bottom:16em;
    right:35em;
    background-color:#301934;
    border-radius:0.5em;
    color:white;
    width: 250px;
}


.header-img {
    padding-top: 60px;
    height: auto;
    width: 100%;
}



/* <!--------------------------------------------------------------->
<--Image Search -->
<!---------------------------------------------------------------> */
#user-city:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px orangered;
}

.form-group {
    display: inline-flex;
}

#city-search {
    margin: auto;
    width: 50%;
    border: 3px #301934;
    padding: 10px;
}

#image-results {
    margin: auto;
    width: 80%;
    display: block;
    text-align: center;
    padding-top: 100px;
}



/* TODO: Images not centred yet */
#flickr {
    display: inline-block;

} 
#flickr img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border: 5px solid rgba(255,255,255,.5);

}

input[type=checkbox] {
    width:40px; 
    height: 40px;
    float: left;
    margin: 0px -40px;
    clear: both;
}

.imgresult {
    /* padding: 15px; */
    width: 100px;
    height: 100px;
}

/* <!--------------------------------------------------------------->
<--Checkbox Customization -->
<!---------------------------------------------------------------> */
input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    outline: 0;
    background: rgba(255, 255, 255, 0.774);
  }
  
  input[type="checkbox"]:checked {
    background: rgba(250, 250, 250, 0.975);
    border: 1px solid white;
  }
  
  input[type="checkbox"]:hover {
    filter: brightness(90%);
  }
  
  input[type="checkbox"]:disabled {
    background: #e6e6e6;
    opacity: 0.8;
    pointer-events: none;
  }
  
  input[type="checkbox"]:after {
    content:'📌';
    font-size: 52px;
    position: relative;
    left: 29%;
    top: 10%;
    width: 15%;
    height: 40%;
    /* border: solid #fff;
    border-width: 0 2px 2px 0; */
    transform: translate(-18px, -22px);
    display: none;
  }
  
  input[type="checkbox"]:checked:after {
    display: block;
  }
  
  input[type="checkbox"]:disabled:after {
    border-color: #7b7b7b46;
  }
/* <!--------------------------------------------------------------->
<--Modal Registration -->
<!---------------------------------------------------------------> */
/*add full-width input fields*/
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
/* set a style for all buttons*/
button:not(#register):not(#test):not(#navbar-toggler):not(#hamburger) {
    background-color: #301934;
    color: white;
    padding: 6px 12px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    border-radius: .25rem;
}
/*set styles for the cancel button*/
.cancelbtn {
    padding: 14px 20px;
    background-color: #FF2E00;
}
/*float cancel and signup buttons and add an equal width*/
.cancelbtn,
.signupbtn {
    float: left;
    width: 50%
}
/*add padding to container elements*/
.container {
    padding: 6px;
}
/*define the modal’s background*/
 
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    font-size: 1.3rem;
}
/*define the modal-content background*/
 
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    padding-top: 25px;
    border: 1px solid #888;
    width: 80%;
}
/*define the close button*/
 
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}
/*define the close hover and focus effects*/
 
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
 
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
 
@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

/* <!--------------------------------------------------------------->
<--User Page -->
<!---------------------------------------------------------------> */
body, html {
    height: 100%;
    margin: 0;
  }
  
.user-background {
    /* The image used */
    background-image: url('/static/images/user.png');
  
    /* Full height */
    height: 100%; 
    background-repeat: repeat-y;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }