{% extends 'base.html' %}

{% block title %}{{ user.email }} - Details{% endblock %}

{% block body %}
<div id="image-results">
<div id="tracking-buttons" class="nav">
  <form action="/logout" method="get">
    <button id="tracking-top-button" type="submit">Log Out</button></form>
  <form action="/forum" method="get" >
    <button id="tracking-top-button" type="submit">Forum</button></form>
  </div>


<p><h5>Here are your collections, <b><span id="user-email">{{ user.email }}</span>.</b></h5></p>


    {% for collection in user_collection | sort(attribute='collection_id', reverse = True) %} 
      <input type="submit" id="{{ collection.collection_id }}" class="collection-id" value="Collection No.:{{ collection.collection_id }}">
      <h4><span>Pictures from {{ collection.notes }} saved on {{ collection.date_saved }}</span></h4>
      <div id="images-from-collection"></div>
      {% endfor %}

  <script>
      console.log("hello images");
      
      function showImageResult(evt) {
          console.log('hello images in collection');
      
          evt.preventDefault();
      
          let url = "/show_images";
          let collectionData = {'collection_id': evt.target.id};
          console.log(collectionData);
      
          $.post(url, collectionData, (response) => {
      
              console.log(response.collection_id);

      
              $('#images-from-collection').html(response);
          });
      } 

    $(".collection_id").on("click", showImageResult);  
    </script>

    </div>

    {% endblock %}
