<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}
    <link rel="shortcut icon" href="/static/images/logo-d.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    


		<!-- My Style Sheet -->
		<link href="/static/styles.css" rel="stylesheet" />
    
    {% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    {% block after_body %}

      <!--------------------------Footer---------------------------------> 
        <div class="footer">
          <p></p>
          <p>Made with 🧡 &nbsp; by <a href="https://www.linkedin.com/in/debiday/" style="color: orangered;">Debiday.</a></p>
        </div>
      <!------------------------End-Footer------------------------------->  
    {% endblock %}
  </body>
</html>
