{% extends 'base.html' %}

{% block title %}{{ user.email }} - Details{% endblock %}

{% block body %}
<!------------------------User-Nav------------------------------->  
<nav class="navbar navbar-expand-lg  fixed-top navbar-light bg-light no-gutter" role="navigation" style="width:100%; z-index: 10;">
  <div class="container">
      <a class="navbar-brand" href="#">Divercity</a>
      <button class="navbar-toggler border-0" id="hamburger" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      </button>
      <div class="collapse navbar-collapse" id="exCollapsingNavbar">
          <ul class="nav navbar-nav">
              <li class="nav-item px-2"><form action="/collections" method="get">
                  <a href="/collections" class="nav-link">My Collection</a>
              </form></li>
          </ul>
          <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
            <div class="btn-toolbar">
            <form name="image-form" id="image-form" action="/user-page" method="get" class="navbar-form navbar-left mr-2">
              <button type="submit" class="btn btn-default" style="background-color: orangered;">Back to search</button>
              </form>
            <form action="/logout" class="navbar-form navbar-left" id="login-form" method="get">
              <button type="submit" id="logout-button" class="btn btn-default white-background" value="Logout">Log out</button>
              </form>
              </div>
                  </ul>
              </li>
          </ul>
      </div>
</nav>
<!------------------------End-User-Nav-------------------------------> 

<!---------------------------Header----------------------------------> 

<div id="image-results">
<p><h5>Here are your collections, <b><span id="user-email">{{ user.email }}</span>.</b></h5></p>

<!-------------------------End-Header-------------------------------->
<p>checking user_collection: {{ user_collection }}</p>
<!---------------------------Test---------------------------------->
<!-- Page Content -->
<div class="container">

  <h1 class="font-weight-light text-center text-lg-center mt-4 mb-0">Collections</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">
    {% for collection in user_collection | sort(attribute='collection_id', reverse = True) %}
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <form name="image-form" name="image-form" action="/show-images" method="POST">
              <input type="image" class="img-fluid z-depth-1" src="{{ user_collection[collection] }}" alt="collections" style="object-fit: none; height:300px; width:300px">
              <input type="hidden" name="collection-id" value="{{ collection.collection_id }}">
              <input type="submit" id="{{ collection.collection_id }}" class="collection-id" value="{{ collection.notes }}">
            </form>
            <h6><span>saved on {{ collection.date_saved }}</span></h6>
          </a>
    </div>

  {% endfor %}
</div>

<!---------------------------End-Test---------------------------------->

    {% for collection in user_collection | sort(attribute='collection_id', reverse = True) %}
    <p><h1>Checking collection_id: {{ collection.collection_id }}</h1></p>
    <img src="{{ user_collection[collection] }}" width="300" height="300">
    <form name="image-form" name="image-form" action="/show-images" method="POST">
      <input type="hidden" name="collection-id" value="{{ collection.collection_id }}">
      <input type="submit" id="{{ collection.collection_id }}" class="collection-id" value="{{ collection.notes }}">
    </form>

    <h4 style="text-transform: capitalize;">{{ collection.notes }}</h4>
    <p>Saved on {{ collection.date_saved }}</p>

    <form action="/delete_collection" method="POST">
      <input type="hidden" name="collection_id" value="{{ collection.collection_id }}">
      <input id="delete-tracking" type="submit" value="Delete">
    </form>
    <br>
    <br>
      {% endfor %}

    </div>

    {% endblock %}
