{% extends 'base.html' %}
{% block title %}Divercity{% endblock %}

{% block body %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<!-------------------- Navbar-------------------------->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top no-gutter" role="navigation" style="width:100%; z-index: 10;">
  <div class="container">
      <a class="navbar-brand" href="/">Divercity</a>
      <button class="navbar-toggler border-0" id="hamburger" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      </button>
      <div class="collapse navbar-collapse" id="exCollapsingNavbar">
          <ul class="nav navbar-nav">
              <li class="nav-item px-2"><a href="#" class="nav-link">About</a></li>
              <li class="nav-item px-2"><a href="#" class="nav-link">Photographers</a></li>
          </ul>
          <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
              <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
              <li class="dropdown order-1">
                  <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right mt-2">
                     <li class="px-3 py-2">
                          <!-- <---->
                          <form action="/login" class="navbar-form navbar-left" id="login-form" method="POST">
                            <input type="email" placeholder="Email" id="email" class="form-control" name="email">
                            <input type="password" placeholder="Password" class="form-control" id="password" name="password">
                            <button type="submit" id="login-button" class="btn btn-default white-background" value="Login">Login</button>
                            </form>
                             <!-- <---->
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
</nav>
<!-------------------- End-Navbar--------------------->
<!-------------------- Modal-------------------------->
<div id="registration-modal" class="nav navbar-nav navbar-right">
  <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
      <form class="modal-content animate" action="/newusers" method="post">
          <div class="container">
              <label><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="register-email" id="register-email" required>
              <label><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="register-password" id="register-password" required>
              <div class="clearfix">
                  <button type="submit" class="signupbtn">Register</button>
              <div class="container signin">
                <br>
                <br>
                <br>
                <p>Already have an account? <a href="/">Sign in</a></p>
              </div>
              </div>
          </div>
      </form>
  </div>

  <!--close the modal by just clicking outside of the modal-->
  <script>
      var modal = document.getElementById('id01');

      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }

      $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
      })
  </script>
<!---------------------- End-Modal---------------------------->
<!-------------------- Header-Image-------------------------->
<div id="intro" class="p-5 text-center bg-image" style="background-image: url('/static/images/background.jpeg');">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="col-4"></div>
      <div class="col-8 text-black">
<!-------------------- Animated-elements-------------------------->
        <section class="cd-intro">
          <div class="cd-intro-content bouncy">
             <h2>Images of real people in cities.</h2>
             <h1 class="mb-1">Divercity</h1>
             <div class="action-wrapper">
                <button id="test" class="cd-btn main-action btn btn-dark" onclick="window.location.href='#trial';">Trial</button>
                <button id="register" class="cd-btn btn btn-dark" onclick="document.getElementById('id01').style.display='block'">Register</button>
             </div>
          </div>
       </section>
<!-- Animation Credits: https://codyhouse.co/gem/animated-intro-section -->
<!------------------------ Animated-elements------------------------------->
      </div></div>
      <h4 class="mb-4 text-white" style="text-shadow: 2px 2px #2e2e2ea8;">A visual resource by photographers on Flickr</h4>
    </div>
</div>
<!--------------------End-Header-Image-------------------------->


<!-------------------Alerts (Used Toastify)-------------------->

<script src="static/js/toastify.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<!--------------------------End-Alerts--------------------------------->

<div id="trial" style="height: 30vh;"></div>

<!------------------------Flickr-search------------------------------->   
<div id="city-search">
    <form name="city-form" id="city-form" action="/save-city" method="POST">
      <!-- style="text-align: center; width: 100%; -->
      <h1>Search for people in different
        <span
           class="txt-rotate"
           data-period="500"
           data-rotate='[ "cities.", "countries.", "cultures."]'></span>
      </h1>
      <!-- Animation Credits: https://codepen.io/gschier/pen/jkivt, Gregory Schier -->
      <br>
        <input name="user-city" id="user-city" type="text">
        <div style="height: 2vh"></div>
        <button id="find-button" type="submit">Find</button>
    </form>
</div>

<script src="static/js/typing-animation.js"></script>
<script src="static/js/returnResult.js"></script>


<div id="image-results">
  <h2><div id="galleryTitle"></div></h2>
  <div id="instructions" style="text-align: center;"></div>
  <div style="clear:both;"></div>
  <div id="flickr" style="height: 30vh;"></div>
  <div id="ending"></div>
</div>
</div>

<div style="height: 20vh;"></div>

<!------------------Makes sure page loads from top------------------------>   
<script>
  $(document).ready(function(){
    $(this).scrollTop(0);
    });
</script>


{% endblock %}


