{% extends 'base.html' %}
{% block title %}Image Search Home{% endblock %}

{% block body %}

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/about"><b>About</b></a></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <form action="/login" class="navbar-form navbar-left" id="login-form" method="POST">
          <div class="form-group">
          <input type="email" placeholder="Email" id="email" class="form-control" name="email">
          <input type="password" placeholder="Password" class="form-control" id="password" name="password">
          <button type="submit" id="login-button" class="btn btn-default" value="Login">Login</button>
          </form>
          <form action="/registration" class="navbar-form navbar-left">
              <button type="submit" value="Register" class="btn btn-default" id="register-form">Register</button> 
          </div></form>
      </div>
    </div>
  </nav>



    <h1 style="text-align: center;">Welcome!</h1>
  
    <div id="flashed">
      <br>
      {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
  {% endfor %}
    </div>


  <!-- <------------FLICKR API------------>
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  
      </head>
      
      
      <style>
      img {max-height:200px; margin:3px; border:1px solid #dedede;}
      </style>
      
      
      <body>

      
      <div id="city-section">
          <form name="city-form" id="city-form" action="/save-city" method="POST">
            <!-- style="text-align: center; width: 100%; -->
            <label><h3>Find images of people from a particular city or country.</h3></label>
            <br>
                    <input name="user-city" id="user-city" placeholder="Place" type="text">
                    <button id="find-button" type="submit">Find</button>
                </form>
      </div>
      
      
      <div id="image-search">
        <h2><div id="galleryTitle"></div></h2>
        <div style="clear:both;"/>
        <div id="flickr"/>
      </div>

      <script src="static/js/returnResult.js"></script>
      </body>
            
    <!-- <------------FLICKR API------------>
  
  
{% endblock %}
