<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  
</head>


<style>
img {max-height:200px; margin:3px; border:1px solid #dedede;}
</style>


<body>
<div id="city-section">
    <form name="city-form" id="city-form" action="/save-city" method="POST">
      <!-- style="text-align: center; width: 100%; -->
      <label><h3>Find images of people from a particular city or country.</h3></label>
      <br>
              <input name="user-city" id="user-city" placeholder="Place" type="text">
              <button id="find-button" type="submit">Find</button>
          </form>
</div>

<script src="static/js/returnResult.js"></script>
<script src="/static/js/pictures.js"></script>

<h2><div id="galleryTitle"></div></h2>
<div style="clear:both;"/>
<div id="flickr"/>

</body>

