{% extends 'base.html' %}
{% block title %}Image Search Logged In{% endblock %}

{% block body %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  
</head>

<style>

.header {
  height: 10vh;
}
</style>


<div class="header">
  <img id="header-img-base" src="static/images/user.jpg" alt="header-image">
  </div>
  

  <h1 style="text-align: center;">Welcome!</h1>
      <div style="text-align:center;">
          <h8><p id="user-id"style="color:white;">{{ user.user_id }}</p></h8>
          <p><h5>Good to see you, <b><span id="user-email">{{ user.email }}</span>.</b></h5></p>
      </div>

      <div id="city-search">
      <form action="/collections" method="get" >
          <button id="tracking-top-button" type="submit">My Saved Collections</button></form>
      </div>

  <!-- <------------FLICKR API------------>   
  <div id="city-search">
      <form name="city-form" id="city-form" action="/save-city" method="POST">
        <!-- style="text-align: center; width: 100%; -->
        <label><h3>Find images of people from a particular city or country.</h3></label>
        <br>
          <input name="user-city" id="user-city" placeholder="Place" type="text">
          <button id="find-button" type="submit">Find</button>
      </form>
  </div>
      
      <script src="static/js/returnResult.js"></script>
      
      <div id="image-results">
        <h2><div id="galleryTitle"></div></h2>
        <div style="clear:both;"></div>

      <script src="static/js/saveImages.js"></script> 
      <form name="image-form" id="image-form" action="/save_images" method="POST">
        <input type="submit" value="Save to account"> 
        <div id="flickr"/></div>
        <p>Logged in?</p>
        <input type="submit" value="Save to account">
       </form> 
    <!-- TODO: Make a large vertical button instead. -->
    <!-- <script src="static/js/saveImages.js"></script>         -->
    <!-- <------------FLICKR API------------>
</div>

{% endblock %}


