{% extends 'base.html' %}
{% block title %}Image Search Logged In{% endblock %}

{% block body %}
<!------------------------User-Nav------------------------------->  
<nav class="navbar navbar-expand-lg  fixed-top navbar-light bg-light no-gutter" role="navigation" style="width:100%; z-index: 10;">
  <div class="container">
      <a class="navbar-brand" href="/">Divercity</a>
      <button class="navbar-toggler border-0" id="hamburger" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      </button>
      <div class="collapse navbar-collapse" id="exCollapsingNavbar">
          <ul class="nav navbar-nav">
              <li class="nav-item px-2"><form action="/collections" method="get">
                  <a href="/collections" class="nav-link">My Collection</a>
              </form></li>
          </ul>
          <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
            <div class="btn-toolbar">
            <form name="image-form" id="image-form" action="/save_images" method="POST" class="navbar-form navbar-left mr-2">
              <button type="submit" class="btn btn-default" style="background-color: orangered;">Save to Account</button>
              </form>
            <form action="/logout" class="navbar-form navbar-left" id="login-form" method="get">
              <button type="submit" id="logout-button" class="btn btn-default white-background" value="Logout">Log out</button>
              </form>
              </div>
                  </ul>
              </li>
          </ul>
      </div>
</nav>

<!------------------------End-User-Nav------------------------------->  
<!----------------------Background-Image----------------------------->  
<div class="user-header">
  <img id="header-img-base" src="static/images/user.jpg" alt="header-image">
</div>
<!------ Image credits: Isabella Mendes, Pexels, Airplane ------->
<!--------------------End-Background-Image--------------------------->  

<div style="text-align:center; color: grey;">
    <h8><p id="user-id"style="color:white;">{{ user.user_id }}</p></h8>
    <p><h5>Good to see you, <b><span id="user-email">{{ user.email }}</span>.</b></h5></p>
</div>

<!-- Extra-button
<div id="city-search">
<form action="/collections" method="get" >
    <button id="tracking-top-button" type="submit">My Saved Collections</button></form>
</div> -->

<div style="height: 20vh;"></div>

<!-- <----------------------FLICKR API--------------------------->   
<div id="city-search">
    <form name="city-form" id="city-form" action="/save-city" method="POST">
      <!-- style="text-align: center; width: 100%; -->
      <h1>Search for people in different
        <span
           class="txt-rotate"
           data-period="500"
           data-rotate='[ "cities.", "countries.", "cultures."]'></span>
      </h1>
        <br>
        <input name="user-city" id="user-city" type="text">
        <div style="height: 2vh"></div>
        <button id="find-button" type="submit">Find</button>
    </form>
</div>

<div style="height: 10vh;"></div>
      
<div id="image-results">
  <h3><div id="galleryTitle"></div></h3>
  <div style="clear:both;"></div>
  <div id="flickr"/></div>
</div>
<!-- <----------------------END-FLICKR API--------------------------->

<div style="height: 40vh;"></div>

<script src="static/js/typing-animation.js"></script>
<script src="static/js/returnResult.js"></script>
<script src="static/js/saveImages.js"></script>
{% endblock %}


